body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}


.mainBox {
  display: flex;
  justify-content: space-between;
}

.notConnected {
  background-color: #50b7f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notConnected>button {
  background-color: black;
}