.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    box-shadow: 0px 10px 20px rgb(168, 249, 255);
}

.postAvatar {
    padding: 20px;

    border-radius: 50%;
}

.postBody {
    flex: 1;
    padding: 10px;
}

.postHeaderDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.postHeaderText>h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.postBadge {
    font-size: 15px;
    color: var(--twitter-color);
}

.postHeaderSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.postFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.deleteIcon:hover {
    cursor: pointer;
    transform: scale(1.5);
    color: red;

}